@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap");
html {
	font-size: 62.5%;
}
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: "Rubik", sans-serif;
	scroll-behavior: smooth;
	background-color: #999;
}
.container {
	width: 28rem;
	margin: 5rem auto;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.task-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	background-color: #fff;
	gap: 1rem;
	border-radius: 1rem;
}
.input-task {
	font-family: inherit;
	font-size: 1.7rem;
	flex: 1;
	padding: 0.6rem;
	transition: all 0.3s;
	border: none;
}
.input-task:focus {
	outline: 1px solid #38d9a9;
	border: 1px solid #38d9a9;
}
.add-task {
	background-color: none;
	font-size: 2.2rem;
	padding: .3rem .6rem;
	cursor: pointer;
	border: 1px solid #2b8a3e;
	color: #2b8a3e;
	background-color: #fff;
	transition: all 0.3s;
}
.add-task:hover {
	background-color: #2b8a3e;
	color: #fff;
		border: 1px solid #2b8a3e;
}

.task-list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.task {
	width: 100%;
	list-style: none;
	display: flex;
	align-items: center;
	background-color: #fff;
	padding: 1rem 4rem 1rem 1.2rem;
	justify-content: space-between;
	border-radius: 1rem;
	gap: 1rem;
}
.text {
	font-size: 1.4rem;
	width: 65%;
	word-wrap: break-word;
}
.icons {
	width: 30%;
	font-size: 2.6rem;
	display: flex;
	gap: 1rem;
	align-items: center;
	cursor: pointer;
}

.icons .fa-check {
	color: #ffe066;
	border: 1px solid #ffe066;
	padding: 0.8rem;
	border-radius: 2rem;
}
.icons .fa-check:hover {
	background-color: #ffe066;
	color: #fff;
}

.icons .fa-trash-can {
	padding: 0.8rem;
	color: #c92a2a;
	border: 1px solid #c92a2a;
	border-radius: 2rem;
}
.icons .fa-trash-can:hover {
	background-color: #c92a2a;
	color: #fff;
}
